1 VERSIONINFO
FILEVERSION		0,0,4,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Jensware"
			VALUE "FileDescription", "Jens C++ Game"
			VALUE "FileVersion", "0.4.0"
		END
	END
	
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END

2 ICON "../resources/icon.ico"
